* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}


a {
    text-decoration: none;
}

header a {
    color: white;
}

header .navbar i {
    font-size: 45px;
    color: #35a22c;
    margin-right: 10px;
}

.navbar-brand:hover {
    color: white;
}

header .navbar-brand {
    font-size: 36px;
}

header .navbar .nav-item.active a {
    color: #35a22c;

}

header .navbar .nav-item a {
    position: relative;
    margin: 0 10px;
    transition: 0.5s;
}

header .navbar .nav-item a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #35a22c;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

header .navbar .nav-item a:hover::after,
header .navbar .nav-item.active a::after {
    width: 100%;
}

header .navbar .nav-item a:hover {
    color: #35a22c;
}

/* start header */
.carousel-item {
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 43, 54, 0.5);
}

.carousel-item .item-bg {
    height: 100vh;
    min-height: 500px;
}

.carousel-caption img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #35a22c;
}

.carousel-caption {
    transform: translateY(50%);
    bottom: 50%;
}

.carousel-caption h5 {
    font-size: 55px;
    font-weight: 400;
}

.carousel-caption p {
    font-size: 25px;
}

.carousel-indicators {
    margin-bottom: 70px;
}

/* end carousel */
/* start project */

#project .nav {
    justify-content: center;
}

#project .nav-pills .nav-link {
    color: black;
    border: 1px solid black;
    margin: 0 5px;
}

#project .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #35a22c;
    border: none;
    color: white;
}

#project .card {
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    overflow: hidden;
}

#project .card-body {
    border: 1px solid transparent;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: none;
    transition: 0.5s;
}

#project .card:hover .card-body {
    border-color: #35a22c;
}
#project .card:hover h5{
    color: #35a22c;
}
#project .card p{
    color: #585858;
}
/* end project */
/* start feature */
.feature{
    background-image: url(./Image/3.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 100px;
    color: white;
    position: relative;
}
.overplay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7,10,12,.72);
}
.feature__title{
    max-width: 750px;
    position: relative;
    
}
.feature__title h3{
    font-size: 36px;
    font-weight: 600;
}
.feature .card {
    padding: 50px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s;
}
.card i {
    font-size: 48px;
    color: #35a22c;
}
.card h4 {
    font-size: 20px;
    padding-top: 25px;
    font-weight: 800;
}
.card p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}
.feature .card:hover{
    background-color: black;
    border: 1px solid white;
}
/* end feature */
/* star award */
.award {
    position: relative;
    padding: 70px 0;
}
.award__bg{
    background-image: url(./Image/memphis_3.png);
    background-size: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.award__left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
}
.award__left h2 {
    font-size: 36px;
    font-weight: 600;
}
.award__left p {
    color: #585858;
}
.award__right{
    padding: 45px 0;
}

.award__right img{
    max-width: 100%;
}
/* end award */
/* start footer */
footer{
    
    background-color: black;
}
.footer__top a{
    display: inline-block;
    margin: 0 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    line-height: 42px;
    border: 1px solid #454545;
    color: #a9a9a9;
    overflow: hidden;
    transition: 0.5s;
}
.footer__top a:hover{
    color: #35a22c;
    border: 1px solid #35a22c;
}
.footer__bot{
    border-top: 1px solid #454545;
    color: #a9a9a9;
    padding-top: 30px;
    margin-top: 30px;
}
/* end footer */